*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  width: 100%;
  height: 100vh;
}

nav {
  padding: 10px 20px;
}

nav ul {
  display: flex;
  gap: 10px;
}

nav ul li {
  list-style: none;
}

.container {
  margin: auto;
  width: 640px;
}

form{
  width: 400px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

form input , form button {
  padding: 10px 5px;
  border-radius: 5px;
}

form button {
  text-align: center;
  cursor: pointer;
}

.poll-container {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap:10px;
}


.option-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}

.option-box {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background: #f9f9f9;
  transition: 0.2s ease;
}

.option-box:hover {
  background: #eaeaea;
}

.selected {
  background: #007bff;
  color: white;
}

.option-grid button {
  cursor: pointer;
  padding : 10px 20px;
}

.result-grid{
  display: grid;
  grid-template-columns : repeat(1,1fr);
  gap: 10px;
}

.result-box{
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

